.head{
    filter: opacity(60%) ;   
    margin: 0% 5%;
}
.qt{
  font-size: 30px;
  display: flex;
flex-direction: row;
justify-content: center;
text-align: center;
margin: 5% 34%;
color:rgb(63, 112, 63);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
border-radius: 90px;

}
.hide-show{
  background-color: rgba(173, 245, 173, 0.589);
  color:white;
  border: none;
  border-radius: 15px;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

 .bd{
    background-color: rgb(237, 250, 242);
    background-size: auto;
 }
.card-img-overlay{
   text-align: center;
 margin-top: 20%;
 color: white;
 font-style: italic;
 font-size: 50px;
 
}
.card-body{
    text-align: center;
    
}
.card-title{
    font-size: 50px;
    
}

.cart-i ion-icon{
  vertical-align: bottom;
  font-size: 20px;
  padding: 5px;
  
}

.cart-i a {
background-color: rgba(90, 88, 88, 0.87);
color: white;
cursor: pointer;
text-decoration: none;
}
.cat{
  display: flex;
  flex-direction: column;
padding-top: 0%;
margin: 5% 10%;
font-size: 20px;

}
.card button{
  background-color: #04aa6d9a;
  border: #008000;
  display:block ;
  margin: 40px auto 80px auto;
  font-size: 1em ;
  color: white;
  text-align: center;
  cursor: pointer; 
  border-radius: .3em;
  padding: .67em .67em;
  }

  .card button:hover{
    background-color: #008000 ;
  }

  .price {
    color: grey;
    font-size: 22px;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    
    color: rgba(0, 0, 0, 0.5);
    
  }
  .fa-twitter {
    
    color:rgba(0, 0, 0, 0.5);
  }
  .fa-instagram {
   
    color:rgba(0, 0, 0, 0.5);
  }
 /* cart  */
 
